<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="baseURL" value="https://api.dev.cloud" />
    <add key="interanalTransferRoute" value="/retail-us/internal-transfers/v1/consumers/{consumerId}/internal-loan-transfers" />
    <add key="loginURL" value="https://api.dev.cloud/login/v1/sandbox/test-configuration" />
    <add key="b2bClientID" value="123456778" />
    <add key="b2bClientSecret" value="5326346423632632" />
    <add key="b2bAccessToken" value="" />
    <add key="b2bAccessTokenExpiry" value="" />
    <add key="htmlReportPath" value="C:\Users\sounsaha\source\repos\Practice1\Practice1\Reports\ExtendedReport.html" />


  </appSettings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.10.0.0" newVersion="3.10.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>